.DS_Store
*.tar.xz
*.h5
*.pt
*.dcm
*.pyc
*.pyo
*.pyd
*.pkl
diff_*.txt
commits.txt
commits_rev.txt
commit_hist.txt
venv/
__pycache__/
data/singlecoil_train/
data/singlecoil_val/
data/singlecoil_test/
data/knee_mri_clinical_seq/
data/knee_mri_clinical_seq_batch2/

lightning_logs/
.vscode/
.annotation_cache/

logs/unet/*
