.DS_Store
*.tar.xz
*.h5
*.pt
*.dcm
*.pyc
*.pyo
*.pyd
*.pkl
venv/
__pycache__/
data/singlecoil_train/
data/singlecoil_val/
data/singlecoil_test/
data/knee_mri_clinical_seq/
data/knee_mri_clinical_seq_batch2/
logs/
.vscode/
